<!DOCTYPE html>
<html lang="ko" ng-app>
<head>
    <title>Order Form</title>
</head>

<script src="angular.js"></script>
<script src="cart_controller.js"></script>

<script>
    //    alert("aaa");
</script>

<body ng-controller="CartController">
<h1>My Order Form</h1>

<div ng-repeat="item in items">
    <span>{{item}}</span>
    <span>{{item.title}}</span>
    <input ng-model="item.quantity">
    <span>{{item.price*item.quantity | currency}}</span>
    <button ng-click="remove($index)">Remove</button>
</div>

<script>
    //    alert("SSS");
</script>

</body>
</html>